.wrapper {
    display: grid;
    width: auto;
    height: 100%;
}

.wrapper__hover {
    box-shadow: 0 4px 32px #801AB280, 0 0 8px #3333FF40, 0 0 16px #3333FF40;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.item {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.items__wrapper {
    box-sizing: border-box;
    overflow-y: auto;
    max-height: 384px;
}

.items__wrapper::-webkit-scrollbar {
    width: 8px;
}

.items__wrapper::-webkit-scrollbar-track {
    background: #2F2F37;
}

.items__wrapper::-webkit-scrollbar-thumb {
    background: #8585AD;
}

.items__wrapper::-webkit-scrollbar-thumb:hover {
    background: #8585AD;
}

.order {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}